html {
box-sizing: border-box;
background-color: #eee9de;
font-family: Lato, sans-serif;
line-height: 1.5;
margin: 1.5rem;
}

*, *::before, *::after {
box-sizing: inherit;
}

img {
  display: block;
  max-width: 100
}

h1 {
  display: block;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  padding: .4em .75em
}

nav a:hover {
  background-color: #666;
  color: #fff;
  border-color: #666;
}
